/** BASE **/
.tamaño-logo{
    height: 50px;
    width: 150px;
}


/** HOME **/
.home{
    height: auto;
    width: auto;
}

.bg{
    background: darkcyan;
    border: 5px white inset;
    color: white;
    
}
.bt-pad{
    padding-bottom: 15px;
}

.ac-pad{
    padding-right: 15px;
}

.tl{
    text-align: left;
}

.btn-size{
    height: 50px;
    width: 200px;
}

.btn-nar{
    height: 60px;
    width: 210px;
}

.btn-texto{
    color: white;
}

.texto-margin{
    margin-right: 30px;
    color: black;
}

.inicio-margin{
    margin-left: 50px;
    color: black;
}



.btn-margin{
    margin-right: 5px;
}

.texto-post{
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 5px ;
    background: lightgray;
    color: black;
}

.hora{
    text-align: right;
    color: lightgray;
}

.img-post {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.link{
    color: red;
}

.new-comments{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    margin-bottom: 10px;
}

.comments{
    text-align: left;
    background: lightgray;
    color: black;
    border-top: 1px black solid;
}

.hora-comment{
    text-align: right;
}

.hr-color{
    background: black;
}

.titulo-post{
    color: black;
}

.titulo-post:hover{
    color: crimson;
}

hr{
    background: white;
}

li{
    list-style: none;
}

/** LOGINREGISTRO **/
.bg-margin{
   margin-top: 25px;
}

.bg-margin1{
    margin-top: 15px;
}
.bg-margin2{
    margin-bottom: 15px;
}
/** ACCOUNT **/

.foto-perfil{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.redes-sociales{
    color: blue;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.redes-sociales:hover{
    color: crimson;
}

