{% extends 'base.html' %}
{% load static %}

{% block account %}

{% for cuenta in Usuario %}

<div class="container-fluid home">
    <div class="row center-xs ">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 bg">
            <div class="container-fluid bt-pad">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 bg-margin">
                        {% if cuenta.imagen %}
                        <img class="foto-perfil" src="{{ cuenta.imagen.url }}" width="268" height="240">
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 bg-margin ">
                        <div>
                            <h1 class="tl">{{ cuenta.nombre }} {{ cuenta.apellido }}</h1>
                        </div>
                        <div>
                            <h2 class="tl">{{ cuenta.usuario }}</h2>
                        </div>
                        <div>
                            <h4 class="tl">{{ cuenta.email }}</h4>
                        </div>
                        <div>
                            <h4 class="tl">{{ cuenta.id_pais }}</h4>
                        </div>
                        {% if cuenta.facebook %}
                        <div>
                            <a class="redes-sociales" href="{{ cuenta.facebook }}">
                                <i class="fab fa-4x fa-facebook"></i></a>
                        </div>
                        {% endif%}
                        {% if cuenta.instagram %}
                        <div>
                            <a class="redes-sociales" href="{{ cuenta.instagram }}">
                                <i class="fab fa-4x fa-instagram"></i></a>
                        </div>
                        {% endif %}
                        {% if cuenta.twitter %}
                        <div>
                            <a class="redes-sociales" href="{{ cuenta.twitter }}">
                                <i class="fab fa-4x fa-twitter"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% for p in Posting %}
    {% if p.id_post %}
    <div class="row center-xs ">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 bg">
            <hr>
            <div class="container-fluid">
                    {% if p.imagen %}
                    <h1 class="tl"><a class="titulo-post" href="{% url 'post' p.id_post %}">{{ p.usuario }} posteo:</a></h1>
                    <br>
                    <div class="container-fluid ">
                        <img class="img-post" src="{{ p.imagen.url }}" srcset="{{ p.imagen.url }} x2" alt="" width="720"
                            height="480">
                    </div>
                    <br>
                    <div class="container-fluid comments">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h4 class="tl texto-post">Descripcion: {{ p.texto }}</h4>
                                <h6 class="hora-comment">{{ p.fecha_post}}</h6>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% else %}
                    <h1 class="tl"><a class="titulo-post" href="{% url 'post' p.id_post %}">{{ p.usuario }} posteo:</a> </h1>
                    <div class="container-fluid comments">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h2 class="tl texto-post">Descripcion: {{ p.texto }}</h2>
                                <h6 class="hora-comment">{{ p.fecha_post }}</h6>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% endif %}
            </div>
            <hr>
        </div>
    </div>
    <br>
    {% endif %}
    {% endfor %}
</div>

{% endfor %}
{% endblock account %}