<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>YouCan: Post without limits</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'usuarios/img/logo2.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'usuarios/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css">
    <link rel="stylesheet" href="{% static 'usuarios/css/style.css' %}">
    <style>
        body {
            background-image: "{% static 'usuarios/img/fondobackground.jpg' %}";
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
</head>

<body background="{% static 'usuarios/img/fondobackground.jpg' %}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">
            <img class="tamaño-logo" src="{% static 'usuarios/img/Logoposible.png' %}" alt="logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">
                        <h3 class="inicio-margin">Inicio</h3><span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown ">
                <a class="nav-link  dropdown texto-margin" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h4 class=" titulo-post dropdown-toggle">{{ user.username|upper }}</h4>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'account' %}">Cuenta</a>
                    <a class="dropdown-item" href="{% url 'update' user.username %}">Modificar cuenta</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a>
                </div>
            </li>

            {% else %}
            <Button class="btn btn-primary btn-nar btn-margin"><a class="nav-link btn-texto" href="{% url 'login' %}">
                    <h4>Login</h4>
                </a></Button>
            <Button class="btn btn-warning btn-nar"><a class="nav-link btn-texto" href="{% url 'register' %}">
                    <h4>Crear Cuenta</h4>
                </a></Button>
            {% endif%}
        </div>
    </nav>
    <br>

    {% block home %}
    {% endblock home %}
    {% block posting %}
    {% endblock posting %}
    {% block login %}
    {% endblock login %}
    {% block Registro %}
    {% endblock Registro %}
    {% block update %}
    {% endblock update %}
    {% block account %}
    {% endblock account %}

    <script src="{% static 'usuarios/js/jquery-3.4.1.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="{% static 'usuarios/js/jquery.validate.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="{% static 'usuarios/js/bootstrap.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="{% static 'usuarios/js/login.js' %}"></script>
    <script src="{% static 'usuarios/js/register.js' %}"></script>
    <script src="{% static 'usuarios/js/post.js' %}"></script>
    <script src="{% static 'usuarios/js/comment.js' %}"></script>
    <script src="{% static 'usuarios/js/update.js' %}"></script>
</body>

</html>