{% extends 'base.html' %}
{% load static %}

{% block home %}
<div class="container-fluid home">
    <div class="container-fluid">
        <div class="row center-xs bg-margin1">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 bg">
                <div class="form-group">
                    <h1> Bienvenido a YouCan-Blog </h1>
                    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% if user.is_authenticated %}
    <div class="container-fluid">
        <div class="row center-xs">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 bg">
                <div class="form-group">
                    <form id="Posting" method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <h1 class="bg-margin1">Agregar Posting</h1>
                        <hr>
                        <label for="foto">Foto Perfil</label>
                        <input type="file" accept="image/*" name="foto">
                        <br>
                        <label for="texto">Agregar Descripcion</label>
                        <textarea class="form-control" id="texto" cols="10" rows="5" name="texto"></textarea>
                        <br>
                        <button class="btn btn-success" type="submit">Postear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid">
        <div class="row center-xs bg-margin1">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 bg">
                <div class="form-group">
                    <h1>Inicia Sesion para poder empezar a postear sin limites</h1>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <br>
    <br>
    {% for p in Posting %}
    {% if p.id_post %}
    <div class="container-fluid">
        <div class="row center-xs">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 bg">
                <hr>
                <div class="container-fluid">
                    {% if p.imagen %}
                    <h1 class="tl"><a class="titulo-post" href="{% url 'post' p.id_post %}">{{ p.usuario }} posteo:</a>
                    </h1>
                    <br>
                    <div class="container-fluid ">
                        <img class="img-post" src="{{ p.imagen.url }}" srcset="{{ p.imagen.url }} x2" alt="" width="720"
                            height="480">
                    </div>
                    <br>
                    <div class="container-fluid comments">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h4 class="tl texto-post">Descripcion: {{ p.texto }}</h4>
                                <h6 class="hora-comment">{{ p.fecha_post}}</h6>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% else %}
                    <h1 class="tl"><a class="titulo-post" href="{% url 'post' p.id_post %}">{{ p.usuario }} posteo:</a>
                    </h1>
                    <div class="container-fluid comments">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h2 class="tl texto-post">Descripcion: {{ p.texto }}</h2>
                                <h6 class="hora-comment">{{ p.fecha_post }}</h6>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% endif %}
                </div>
                <hr>
            </div>
        </div>
    </div>
    <br>
    {% endif %}
    {% endfor %}
</div>
{% endblock home %}