{% extends 'base.html' %}
{% load static %}
{% block login %}

<div class="container-fluid home">
        <div class="container-fluid">
            <div class="row center-xs">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 bg">
                    <hr>
                    <h1 class="bg-margin">Iniciar Sesion</h1>
                    <form id="Login" method="POST">
                        {% csrf_token %}
                        <div class="row  bg-margin ">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {% if form.error_messages %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>Advertencia: </strong> {{ form.get_invalid_login_error }}
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label class="tl" for="username">Usuario</label>
                                <div id="username" width="100">{{ form.username }}</div>
                                <br>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label class="tl" for="password">Contraseña</label>
                                <div id="password" width="100">{{ form.password }}</div>
                                <br>
                            </div>
                        </div>
                        <div class="row center-xs">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <p>No tienes cuenta Creala! <a href="{% url 'register' %}" class="link">aqui UwU</a> </p>
                                <button class="btn btn-success" type="submit">Ingresar</button>
                                <hr>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock login %}