{% extends 'base.html' %}
{% load static %}
{% block posting %}

<div class="container-fluid">
    <div class="row center-xs">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 bg">
            <hr>
            <div class="container-fluid">
                {% if post.imagen %}
                <h1 class="tl titulo-post">{{ post.usuario }} posteo:</h1>
                <br>
                <div class="container-fluid ">
                    <img class="img-post" src="{{ post.imagen.url }}" srcset="{{ post.imagen.url }} x2" alt=""
                        width="720" height="480">
                </div>
                <br>
                <div class="container-fluid comments">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2 class="tl texto-post">Descripcion: {{ post.texto }}</h2>
                            <h6 class="hora-comment">{{ post.fecha_post}}</h6>
                        </div>
                    </div>
                </div>
                <br>
                {% else %}
                <h1 class="tl titulo-post">{{ post.usuario }}</a> posteo:</h1>
                <div class="container-fluid comments">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2 class="tl texto-post">Descripcion: {{ post.texto }}</h2>
                            <h6 class="hora-comment">{{ post.fecha_post}}</h6>
                        </div>
                    </div>
                </div>
                <br>
                {% endif %}
                {% if user.is_authenticated %}
                <div class="container-fluid new-comments">
                    <div class="row center-xs">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <form id="Comment" method="POST" enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    <h3 class="tl titulo-post" for="comment">Agregar Descripcion</h3>
                                    <textarea class="form-control" id="comment" cols="7" rows="2"
                                        name="comment"></textarea>
                                    <br>
                                    <button class="btn btn-success btn-size" type="submit">Comentar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <h1 class="tl titulo-post">Inicia sesion para comentar</h1>
                {% endif %}
                <h1 class="tl titulo-post">Comentarios:</h1>
                {% for c in comments %}
                <div class="container-fluid comments">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h5 class="tl">{{ c.usuario}} comento:</h5>
                            <h5 class="tl">{{ c.comment }}</h5>
                            <h6 class="hora-comment">{{ c.fecha_comment }}</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
        </div>
    </div>
</div>
<br>


{% endblock posting %}