{% extends 'base.html' %}
{% load static %}
{% block Registro %}
<div class="container-fluid home">
    <div class="container-fluid">
        <div class="row center-xs ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 bg">
                <hr>
                <h1 class="bg-margin1">Crear Cuenta</h1>
                <form id="Register" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="nombre">Nombre</label>
                            <input type="text" class='form-control' id="nombre" name="nombre" placeholder="Ingresar Nombre">
                            <br>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="apellido">Apellido</label>
                            <input type="text" class='form-control' id="apellido" name="apellido" placeholder="Ingresar Apellido">
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="usuario">Usuario</label>
                            <input type="text" class='form-control' id="usuario" name="usuario" placeholder="Ingresar Usuario">
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="password1">Contraseña</label>
                            <input type="password" class='form-control' id="password1" name="password1" placeholder="Ingresar Contraseña">
                            <br>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="password2">Re-Contraseña</label>
                            <input type="password" class='form-control' id="password2" name="password2" placeholder="Ingresar Contraseña Nuevamente">
                            <span id="mensaje"></span>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="email">E-Mail</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Ingresar Email: example26@gmail.com ">
                            <br>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="id_pais">Pais</label>
                            <select name="id_pais" id="id_pais" class="form-control">
                                {% for p in Pais %}
                                <option value={{p.id_pais}}>{{p.nombre}}</option>
                                {% endfor %}
                            </select>
                            <br>
                        </div>
                    </div>
                    <div class="row center-xs ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bt-pad">
                            <button class="btn btn-success " id="Crear" type="submit">Crear Cuenta</button>
                        </div>
                    </div>
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>

{% endblock Registro %}