{% extends 'base.html' %}
{% load static %}
{% block update %}
<div class="container-fluid home">
    <div class="container-fluid">
        <div class="row center-xs">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 bg">
                <hr>
                <h1 class="bg-margin1">Actualizar Cuenta</h1>
                <form id="update" method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="nombre">Nombre</label>
                            <input type="text" value="{{cuenta.nombre}}" class='form-control' id="nombre" name="nombre">
                            <br>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="apellido">Apellido</label>
                            <input type="text" value="{{cuenta.apellido}}" class='form-control' id="apellido"
                                name="apellido">
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="usuario">Usuario</label>
                            <input type="text" value="{{cuenta.usuario}}" class='form-control' id="usuario"
                                name="usuario">
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="email">Correo Electronico</label>
                            <input type="email" value="{{cuenta.email}}" class="form-control" id="email" name="email">
                            <br>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="id_pais">Pais</label>
                            <select name="id_pais" id="id_pais" class="form-control">
                                {% for p in Pais %}
                                <option value={{p.id_pais}}>{{p.nombre}}</option>
                                {% endfor %}
                            </select>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="usuario">Facebook</label>
                            <input type="text" value="{{cuenta.facebook}}" class='form-control' id="usuario"
                                name="facebook" placeholder="Ingresa el link de tu facebook">
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="usuario">Instagram</label>
                            <input type="text" value="{{cuenta.instagram}}" class='form-control' id="usuario"
                                name="instagram" placeholder="Ingresa el link de tu instagram">
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="usuario">Twitter</label>
                            <input type="text" value="{{cuenta.twitter}}" class='form-control' id="usuario"
                                name="twitter" placeholder="Ingresa el link de tu twitter">
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            {% if cuenta.imagen %}
                            <div class="form-group">
                                <img src="{{cuenta.imagen.url}}" width="200" alt="">
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="foto">Foto Perfil</label>
                                <input type="file" accept="image/*" name="foto">
                            </div>
                        </div>
                    </div>
                    <div class="row center-xs">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                            <button class="btn btn-success" id="Actualizar" type="submit">Actualizar</button>
                            <button class="btn btn-danger">
                                <a class="btn-texto" href="{% url 'account' %}">
                                    <h6 class="">Cancelar</h6>
                                </a>
                            </button>
                        </div>
                    </div>
                </form>
                <hr>
            </div>
        </div>
    </div>

</div>
{% endblock update %}